body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  overflow:hidden;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rebeccapurple;
  margin: auto;
  font-size: 1.75em;
  padding: 10px 22px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
}

header p {
  height: 100px;
  width: 100px;
  background-color: red;
}

header:hover p {
  animation: move 2s ease infinite;
}

@keyframes move {
  16% {
    border-radius: 5%;
    background-color: yellow;
    transform: translate(250%, 0);
  }
  32% {
    border-radius: 10%;
    background-color: orange;
    transform: translate(500%, 0);
  }
  48% {
    border-radius: 20%;
    background-color: lightgreen;
    transform: translate(750%, 0);
  }
  64% {
    border-radius: 30%;
    background-color: chartreuse;
    transform: translate(1000%, 0);
  }
  80% {
    border-radius: 40%;
    background-color: olive;
    transform: translate(1250%, 0);
  }
  100% {
    border-radius: 50%;
    background-color: pink;
    transform: translate(1500%, 0);
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  margin: auto;
  padding: 10px 22px;
  width: 100%;
  height: 3.5em;
  background-color: rebeccapurple;
  font-size: 1.125em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

#time {
  font-size: 2.2em;
  text-align: center;
  margin-top: 100px;
  color: rebeccapurple;
  background-color: black;
}

#time:hover {
  font-size: 3em;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 3s 3s;
  text-align: center;
  margin-top: 100px;
  color: black;
  background-color: rebeccapurple;
  box-shadow: 5px 5px 5px 5px black;
}


@media (max-width: 768px) {
  footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rebeccapurple;
    font-size: 0.5em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  }
}
