body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4ea0e9;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
}

.main-header {
  background-color: #fff;
  font-size: 1.75em;
  padding: 10px 22px;
  text-align: center;
  width: 100%;
}

.main-header p {
  height: 100px;
  width: 100px;
}

.main-header:hover p {
  animation: move 8s ease infinite;
}

@keyframes move {
  16% {
    border-radius: 0%;
    background-color: yellow;
    transform: translate(250%, 0);
  }

  32% {
    border-radius: 10%;
    background-color: orange;
    transform: translate(500%, 0);
  }

  48% {
    border-radius: 20%;
    background-color: lightgreen;
    transform: translate(750%, 0);
  }

  64% {
    border-radius: 30%;
    background-color: chartreuse;
    transform: translate(1000%, 0);
  }

  80% {
    border-radius: 40%;
    background-color: olive;
    transform: translate(1250%, 0);
  }

  100% {
    border-radius: 50%;
    background-color: pink;
    transform: translate(1500%, 0);
  }
}

footer {
  position: fixed; 
  bottom: 0;
  right:0 ;
  left: 0;
  z-index: 1;
  text-align: center;
  padding: 10px 22px;
  height: 100px;
  font-size: 1.125em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

#time {
  font-size: 2.2em;
  text-align: center;
  margin: 100px;
  color: rebeccapurple;
}

#time:hover {
  font-size: 3em;
  transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1) 2s ;
  text-align: center;
  margin: 60px;
  color: black;
  background-color: rebeccapurple;
  box-shadow: 5px 5px 5px 5px black;
}


@media (max-width: 400px) {
  #time {
    font-size: 1em;
    text-align: center;
    margin: 25px;
    color: rebeccapurple;
  
  }

  #time:hover {
    font-size: 1.25em;
    transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1) 2s ;
    text-align: center;
    margin: 10px;
    color: black;
    background-color: rebeccapurple;
    box-shadow: 5px 5px 5px 5px black;
  }
}
